@import "../fonts/iconfont.css";
@import "../fonts/SOURCEHANSANSCN-REGULAR.css";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'SOURCEHANSANSCN-REGULAR';
  font-weight: 400;
  letter-spacing: 0.05em;
}
a {
  color: #333333;
  text-decoration: none;
}
html {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
}
body {
  padding-top: 58px;
}
.mobile {
  display: none;
}
.wrap {
  width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
}
.wrap:after {
  content: "-";
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  clear: both;
}
header.header {
  width: 100%;
  height: 58px;
  line-height: 58px;
  background-color: #3b3b3b;
  position: fixed;
  top: 0;
  z-index: 100000;
}
header.header .wrap {
  width: 100%;
}
header.header .logo {
  width: 114px;
  height: 36px;
  float: left;
  margin-top: 12px;
  margin-left: 5%;
}
header.header .navs {
  float: right;
  margin-right: 7%;
}
header.header .navs a {
  display: block;
  float: left;
  font-size: 14px;
  color: #fff;
  margin-right: 46px;
}
header.header .navs a.activeNav {
  color: #4299f0;
}
header.header .navs a:hover {
  color: #4299f0;
}
header.header .navs a:last-of-type {
  margin-right: 0;
}
header.header .navs a i.iconfont {
  margin-right: 5px;
}
.bannerContainer {
  width: 100%;
}
.bannerContainer .wrap {
  width: 100%;
  max-width: 1920px;
  position: relative;
}
.bannerContainer .wrap .imgbox {
  width: 100%;
  height: 100%;
}
.bannerContainer .wrap .imgbox img {
  width: 100%;
  display: block;
}
.bannerContainer .wrap .information {
  width: 426px;
  position: absolute;
  top: 22%;
  left: 30%;
}
.bannerContainer .wrap .information .h1 {
  font-size: 64px;
  font-weight: 700;
  color: #4299f0;
}
.bannerContainer .wrap .information p {
  display: block;
  position: relative;
  width: 100%;
  font-size: 40px;
  font-weight: 100;
  color: #4299f0;
  line-height: 67px;
  text-align: center;
}
.bannerContainer .wrap .information p:before {
  content: '-';
  font-size: 0;
  width: 8%;
  height: 1px;
  background-color: #aacb6a;
  position: absolute;
  top: 0;
  right: 0;
}
.bannerContainer .wrap .information p:after {
  content: '-';
  font-size: 0;
  height: 50%;
  width: 1px;
  background-color: #aacb6a;
  position: absolute;
  top: 0;
  right: 0;
}
.bannerContainer .wrap .information:before {
  content: '-';
  font-size: 0;
  width: 8%;
  height: 1px;
  background-color: #aacb6a;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bannerContainer .wrap .information:after {
  content: '-';
  font-size: 0;
  height: 20%;
  width: 1px;
  background-color: #aacb6a;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 769px) and (max-width: 1920px) {
  .bannerContainer .wrap .information {
    width: 22.187vw;
    left: 30vw;
    top: 8vw;
  }
  .bannerContainer .wrap .information .h1 {
    font-size: 3.333vw;
  }
  .bannerContainer .wrap .information p {
    font-size: 2.083vw;
    line-height: 3.489vw;
  }
}
.bannerContainer2 {
  width: 100%;
}
.bannerContainer2 .wrap {
  width: 100%;
  max-width: 1920px;
  position: relative;
}
.bannerContainer2 .wrap .imgbox {
  width: 100%;
  height: 100%;
}
.bannerContainer2 .wrap .imgbox img.pc {
  width: 100%;
  display: block;
}
.bannerContainer2 .wrap .information {
  line-height: 75px;
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 38px;
  font-weight: 200;
  padding-right: 10px;
  color: #4299f0;
}
.bannerContainer2 .wrap .information.colorWhite {
  color: white;
}
.bannerContainer2 .wrap .information span {
  display: inline-block;
  position: relative;
  font-size: 50px;
  font-weight: 200;
  padding-left: 10px;
}
.bannerContainer2 .wrap .information span:before {
  content: '-';
  font-size: 0;
  width: 40%;
  height: 1px;
  background-color: #aacb6a;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bannerContainer2 .wrap .information span:after {
  content: '-';
  font-size: 0;
  height: 30%;
  width: 1px;
  background-color: #aacb6a;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bannerContainer2 .wrap .information:before {
  content: '-';
  font-size: 0;
  width: 8%;
  height: 1px;
  background-color: #aacb6a;
  position: absolute;
  top: 0;
  right: 0;
}
.bannerContainer2 .wrap .information:after {
  content: '-';
  font-size: 0;
  height: 40%;
  width: 1px;
  background-color: #aacb6a;
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (min-width: 769px) and (max-width: 1920px) {
  .bannerContainer2 .wrap .information {
    line-height: 4vw;
    font-size: 2vw;
  }
  .bannerContainer2 .wrap .information span {
    font-size: 2.7vw;
  }
}
.serviceContainer {
  background-color: #fff;
  padding-top: 88px;
  padding-bottom: 260px;
}
.serviceContainer .serviceTitle {
  font-size: 36px;
  color: #4299f0;
  text-align: center;
}
.serviceContainer .serviceTitle2 {
  font-size: 14px;
  color: #111111;
  text-align: center;
  margin-top: 10px;
  font-weight: 200;
}
.serviceContainer .maincont {
  display: flex;
  margin-top: 50px;
}
.serviceContainer .maincont .itemCont {
  width: 25%;
  flex: 1;
  text-align: center;
  margin: 0 20px;
  font-weight: 400;
}
.serviceContainer .maincont .itemCont i {
  font-size: 60px;
  color: #4299f0;
}
.serviceContainer .maincont .itemCont .h1 {
  font-size: 20px;
  color: #4299f0;
  font-weight: 400;
  margin-top: 5px;
}
.serviceContainer .maincont .itemCont p {
  font-size: 14px;
  color: #b1b1b1;
  margin-top: 20px;
}
.briefContainer {
  background-color: #fafafa;
  height: 500px;
}
.briefContainer .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.briefContainer .wrap .image {
  width: 437px;
  height: 580px;
  margin: -52px 10% 0 10%;
}
.briefContainer .wrap .informationCont {
  flex: 1;
  margin-right: 30px;
}
.briefContainer .wrap .informationCont .h1 {
  font-size: 30px;
  color: #4299f0;
  font-weight: 700;
  margin-bottom: 20px;
}
.briefContainer .wrap .informationCont p {
  font-size: 16px;
  color: #111111;
  line-height: 28px;
}
.briefContainer .wrap .informationCont a._btn {
  display: block;
  width: 138px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  border: 1px solid #4299f0;
  color: #4299f0;
  text-align: center;
  margin-top: 30px;
}
.newContianer_index {
  background-color: #fff;
  padding-top: 160px;
  padding-bottom: 55px;
}
.newContianer_index .titleCont {
  font-size: 36px;
  font-weight: 700;
  color: #4299f0;
  text-align: center;
}
.newContianer_index .listCont {
  margin-top: 50px;
  overflow: hidden;
}
.newContianer_index .listCont li {
  width: calc((100% - 30px)/4);
  float: left;
  position: relative;
  box-sizing: border-box;
  margin-right: 10px;
}
.newContianer_index .listCont li img {
  width: 100%;
}
.newContianer_index .listCont li .articleCont {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: #4299f0;
  display: none;
}
.newContianer_index .listCont li .articleCont .box {
  padding: 0 10px;
  text-align: center;
  color: #fff;
}
.newContianer_index .listCont li .articleCont .box .h1 {
  font-size: 16px;
  font-weight: 400;
}
.newContianer_index .listCont li .articleCont .box span {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}
.newContianer_index .listCont li:last-of-type {
  margin-right: 0;
}
.newContianer_index .listCont li:hover .articleCont {
  display: flex;
}
.newContianer_index .moreCont {
  text-align: right;
}
.newContianer_index .moreCont a {
  display: inline-block;
  width: 138px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  border: 1px solid #4299f0;
  color: #4299f0;
  text-align: center;
  margin-top: 30px;
}
footer.footer {
  background-color: #393939;
}
footer.footer .cont1 {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #666666;
}
footer.footer .cont1 .column {
  margin: 0 60px;
}
footer.footer .cont1 .col1 .h1 {
  font-size: 16px;
  color: #fefefe;
  margin-bottom: 20px;
}
footer.footer .cont1 .col1 a {
  font-size: 14px;
  color: #fefefe;
  line-height: 26px;
  display: block;
}
footer.footer .cont1 .col2 .h1 {
  font-size: 16px;
  color: #fefefe;
  margin-bottom: 20px;
}
footer.footer .cont1 .col2 p {
  font-size: 14px;
  line-height: 26px;
  color: #fefefe;
  display: block;
}
footer.footer .cont2 {
  color: #fefefe;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  font-weight: 200;
}
footer.footer .col3 img {
  width: 130px;
  display: block;
}
.centerTitleCont {
  text-align: center;
  font-size: 36px;
  color: #4299f0;
  background-color: #fff;
  padding: 50px 0;
}
.briefIntroduction {
  background-color: #fff;
}
.briefIntroduction .content p {
  font-size: 16px;
  color: #111;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 20px;
}
.briefIntroduction .content p:last-of-type {
  margin: 0;
}
.memorabiliaContainer {
  background-color: #fafafa;
  padding: 100px 0;
}
.memorabiliaContainer .timeAxisContainer .item .yearCont {
  height: 56px;
  overflow: hidden;
}
.memorabiliaContainer .timeAxisContainer .item .yearCont .icon {
  display: block;
  float: left;
  position: relative;
  width: 90px;
  height: 56px;
  border-right: 3px solid #4299f0;
}
.memorabiliaContainer .timeAxisContainer .item .yearCont .icon img {
  position: absolute;
  right: -11px;
  top: 0;
}
.memorabiliaContainer .timeAxisContainer .item .yearCont .text {
  float: left;
  margin-left: 30px;
  display: block;
  height: 56px;
  font-size: 20px;
  line-height: 38px;
  font-weight: 700;
  color: #111;
}
.memorabiliaContainer .timeAxisContainer .item .monthCont {
  overflow: hidden;
}
.memorabiliaContainer .timeAxisContainer .item .monthCont dt {
  width: 90px;
  line-height: 33px;
  float: left;
  position: relative;
  color: #4299f0;
}
.memorabiliaContainer .timeAxisContainer .item .monthCont dt img.icon {
  position: absolute;
  right: -8px;
  top: 0;
}
.memorabiliaContainer .timeAxisContainer .item .monthCont dd {
  float: left;
  border-left: 3px solid #4299f0;
  padding-bottom: 28px;
}
.memorabiliaContainer .timeAxisContainer .item .monthCont dd .box {
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 27px;
}
.memorabiliaContainer .timeAxisContainer .item .monthCont dd .box .h1 {
  font-size: 20px;
  font-weight: 400;
  color: #111;
}
.memorabiliaContainer .timeAxisContainer .item .monthCont dd .box p {
  font-size: 16px;
  font-weight: 200;
}
.memorabiliaContainer .timeAxisContainer .item:last-of-type .monthCont:last-of-type dd {
  border: none;
}
.cultureTit {
  padding-bottom: 0;
}
.cultureContainer {
  background-color: #fff;
}
.cultureContainer .wrap {
  height: 762px;
  background: url(../images/culture_bg.jpg) no-repeat;
  background-position: right center;
  overflow: hidden;
}
.cultureContainer .wrap .listCont {
  font-size: 16px;
  margin-top: 110px;
}
.cultureContainer .wrap .listCont li {
  color: #111;
  font-weight: 200;
  line-height: 48px;
}
.cultureContainer .wrap .listCont li span {
  display: inline-block;
  width: 140px;
  font-weight: 400;
  position: relative;
  text-indent: 20px;
}
.cultureContainer .wrap .listCont li span:before {
  content: '-';
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #4299f0;
  position: absolute;
  left: 0;
  top: 19px;
}
@media only screen and (min-width: 769px) and (max-width: 1920px) {
  .cultureContainer .wrap {
    background-size: 70%;
  }
}
.newsContaienr {
  background-color: #fff;
}
.newsContaienr .newsListContainer {
  padding-bottom: 80px;
}
.newsContaienr .newsListContainer .list {
  border-top: 24px solid #fafafa;
  padding-top: 38px;
}
.newsContaienr .newsListContainer .list .box {
  display: flex;
  width: 100%;
  height: 190px;
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
}
.newsContaienr .newsListContainer .list .box:hover {
  background-color: #fdfdfd;
}
.newsContaienr .newsListContainer .list .box .cover {
  width: 270px;
  height: 190px;
  margin-right: 30px;
}
.newsContaienr .newsListContainer .list .box .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  color: #111;
}
.newsContaienr .newsListContainer .list .box .content .title {
  font-size: 18px;
  height: 38px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}
.newsContaienr .newsListContainer .list .box .content .box_flex {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.newsContaienr .newsListContainer .list .box .content .box_flex .article {
  font-weight: 200;
  line-height: 26px;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-top: 10px;
}
.newsContaienr .newsListContainer .list .box .content .box_flex .date {
  font-size: 14px;
  color: #999;
}
.newsContaienr .newsListContainer .pagingCont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
.newsContaienr .newsListContainer .pagingCont input[type='button'],
.newsContaienr .newsListContainer .pagingCont select {
  display: block;
  font-size: 14px;
  font-weight: 200;
  outline: none;
  border: 1px solid #c3c3c3;
  height: 28px;
  line-height: 28px;
  padding: 0 9px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #fff;
}
.newsContaienr .newsListContainer .pagingCont input[type='button']:active,
.newsContaienr .newsListContainer .pagingCont select:active {
  background-color: #f5f5f5;
}
.newsContaienr .newsDetailsContainer {
  padding-top: 50px;
}
.newsContaienr .newsDetailsContainer .title {
  color: #4299f0;
  font-size: 18px;
}
.newsContaienr .newsDetailsContainer .date {
  font-weight: 200;
}
.newsContaienr .newsDetailsContainer .articleCont {
  font-weight: 200;
  font-size: 16px;
  line-height: 36px;
  margin-top: 30px;
  padding-bottom: 50px;
}
.partnerContainer {
  background-color: #fff;
}
.partnerContainer .list .item {
  width: calc((100% - 40px)/3);
  display: block;
  float: left;
  margin-right: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.partnerContainer .list .item:nth-child(3n) {
  margin-right: 0px;
}
.partnerContainer .list .item:hover {
  box-shadow: 0px 5px 24px 0px rgba(66, 153, 240, 0.3);
}
.partnerContainer .list .item img {
  width: 100%;
}
.partnerContainer .list .item .h1 {
  font-size: 30px;
  font-weight: 200;
  padding: 0 10px;
}
.partnerContainer .list .item p {
  font-size: 14px;
  font-weight: 200;
  padding: 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.contackContainer {
  background-color: #fff;
}
.contackContainer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.contackContainer .container .textBox {
  margin-right: 150px;
}
.contackContainer .container .textBox p {
  font-size: 16px;
  font-weight: 200;
}
.joinCityContainer {
  background-color: #fff;
  padding-bottom: 80px;
}
.joinCityContainer .list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 20px)/2);
  font-size: 36px;
  height: 180px;
  color: #4299f0;
  float: left;
  margin-right: 20px;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
}
.joinCityContainer .list .item i {
  font-size: 52px;
  margin-right: 50px;
}
.joinCityContainer .list .item span {
  font-size: 36px;
}
.joinCityContainer .list .item:nth-child(2n) {
  margin-right: 0;
}
.joinCityContainer .list .item:after {
  content: '-';
  font-size: 0;
  right: 0px;
  top: 0px;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 44px solid #4299f0;
  border-left: 44px solid transparent;
}
.joinvocationContainer {
  background-color: #fff;
  padding-bottom: 80px;
}
.joinvocationContainer .list li {
  width: calc((100% - 20px)/2);
  font-size: 36px;
  color: #4299f0;
  margin-right: 20px;
  float: left;
  background-color: #fafafa;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.joinvocationContainer .list li i {
  display: block;
  text-align: center;
  font-size: 60px;
  padding: 30px 0 20px 0;
}
.joinvocationContainer .list li .h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.joinvocationContainer .list li .introductionCont {
  font-size: 16px;
  font-weight: 200;
  color: #111;
  padding: 26px 26px 0 26px;
}
.joinvocationContainer .list li .introductionCont + .btnBox a.showDetails {
  display: none;
}
.joinvocationContainer .list li .introductionCont + .btnBox a.hideDetails {
  display: inline-block;
}
.joinvocationContainer .list li .introductionCont.hideDetails {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.joinvocationContainer .list li .introductionCont.hideDetails + .btnBox a.showDetails {
  display: inline-block;
}
.joinvocationContainer .list li .introductionCont.hideDetails + .btnBox a.hideDetails {
  display: none;
}
.joinvocationContainer .list li .btnBox {
  text-align: center;
  margin-top: 20px;
}
.joinvocationContainer .list li .btnBox a {
  display: inline-block;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: 200;
  box-sizing: border-box;
}
.joinvocationContainer .list li .btnBox a.showDetails {
  background-color: #4299f0;
  color: #fff;
  display: none;
}
.joinvocationContainer .list li .btnBox a.hideDetails {
  border: 1px solid #4299f0;
  color: #4299f0;
  box-sizing: border-box;
}
.joinvocationContainer .list li:nth-child(2n) {
  margin-right: 0;
}
.joinvocationContainer .list li:after {
  content: '-';
  font-size: 0;
  right: 0px;
  top: 0px;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 44px solid #4299f0;
  border-left: 44px solid transparent;
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .wrap {
    width: calc(100% - 20px);
  }
}
